<h1>Posts</h1>
<% if(@posts.count > 0) %>
  <p>There are <%= @posts.count %> posts. You can select post and download as epub file</p>
  <table class="table table-bordered table-responsive" id="search-result">
    <thead>
      <tr><td><input type="checkbox" id="select_all" /></td><td>id</td><td>Title</td></tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><input type="checkbox" class="link_checkbox"></td>
        <td><%= post.id.to_s %></td>
        <td><%= post.title.html_safe  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <form method="POST" action="/blog_posts/generate_epub" id="download_epub">
    <input type="hidden" name="ids" id="post_ids" />
    <input type="submit" id="results" class="btn btn-success" value="Download as Epub" />
  </form>
<% end %>
