@charset "UTF-8";
/* reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td { 
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* end reset */

html {
  direction: ltr;
}
 
text {
  direction: ltr;
}
 
body {
  margin-left: .5em;
  margin-right: .5em;
  text-align: justify;
  direction: ltr;
 
}
 
.toctext, .tocnumber, p {
  font-family: 'Times New Roman', Times, serif, 'sans serif';
  text-align: justify;
  text-indent: 1em;
  margin-top: 0px;
  margin-bottom: 1ex;
  direction: ltr;
 
}
 
h1, h2, .mw-headline {
  font-family: 'Times New Roman', Times, serif, 'sans serif';
  font-style: italic;
}
 
h1.cover, h2.cover {
  font-family: 'Times New Roman', Times, serif, 'sans serif';
  font-style: italic;
  text-align: center;
  padding:  10px 0;
  left: auto;
}
p.cover{
  font-size: 1.1em;
  text-align: center;
}

p.source{
  font-size: 1em;
  text-align: center;
  position: absolute;
  bottom: 5px;
}
h1.cover {
  font-size:3.5em;
  margin-down:40px
}
 
h2.cover {
  font-size:1.5em;
}
 
h1 {
  margin-bottom: 2px;
  direction: ltr;
 
}
 
h2, .mw-headline {
  margin-top: -2px;
  margin-bottom: 10px;
  direction: ltr;
 
}
 
h4.warning {
  font-family: 'Times New Roman', Times, serif, 'sans serif';
  font-style: italic;
  direction: ltr;
 
}
 
div.cover {
  text-align: center;
}
 
img.cover {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  width: 100%;
}
blockquote,pre {
  background: #f7f7f7;
  color: #222;
  line-height: 1.1em;
  margin-bottom: 18px;
  overflow: auto;
  font-size: 0.8em;
  padding: 1.5em;
}
