// Place all the styles related to the blog_list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar{
  border-radius: 0px;
}
.spinner{
  width: 6%;
}
#search_button{
  font-size: 18px;
  padding: 8px 34px;
  margin-top: 1px;
  margin-right: 10px;
}
.welcome-note, .welcome-note-tag{
  text-align: center;
}
#download_epub{
  margin-bottom: 10px;
}
.list_post{
  margin: 10px 0;
  text-align: center;
}
.overflow-hidden{
  overflow: hidden;
}

